.nav {
    display: flex;
    width: auto;
    height: 100px;
    background-color: #27282c;
    font-family: Inter, serif;
    align-items: center;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    min-width: max-content;
    color: white;

}

.nav-title {
    margin: 0 15px 0 30px;
    font-weight: 800;
    font-size: 50px;
    min-width: 400px;
}

.navbar {
    display: flex;
    margin: 0 20px 0 auto;
    font-size: 15px;
}

.navbar > h3 {
    margin: 15px;
    white-space: nowrap;
    cursor: pointer;
    opacity: 70%;
}